@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Karla:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;400;500;700;900&display=swap");

:root {
    --header-height: 60px;
}

@font-face {
    font-family: Charter;
    font-weight: normal;
    src: url("../public/fonts/Charter Regular.ttf");
}
@font-face {
    font-family: Charter;
    font-weight: bold;
    src: url("../public/fonts/Charter Bold.ttf");
}

.light-mode {
    --background: #efefef;
    --border: #e5e5e5;

    --text: #2d2d2d;
    --text-muted: #828282;

    --theme-color: #ffffff;
    --theme-invert-color: #000000;

    --hover: #cfcfcf;

    // markdown theme starts here
    --color-text-primary: #333333;
    --color-text-tertiary: #777;
    --color-text-link: #4078c0;
    --color-bg-primary: #fff;
    --color-bg-secondary: #fafbfc;
    --color-bg-tertiary: #f8f8f8;
    --color-border-primary: #ddd;
    --color-border-secondary: #cacccf;
    --color-border-tertiary: #d1d5da;
    --color-kbd-foreground: #444d56;
    --color-markdown-blockquote-border: #333333;
    --color-markdown-table-border: #dfe2e5;
    --color-markdown-table-tr-border: #c6cbd1;
    --color-markdown-code-bg: #1b1f230d;
}
.dark-mode {
    --background: #151515;
    --border: #252525;

    --text: #efefef;
    --text-muted: #828282;

    --theme-color: #000000;
    --theme-invert-color: #ffffff;

    --hover: #252525;

    // markdown theme starts here
    --color-text-primary: #c9d1d9;
    --color-text-tertiary: #8b949e;
    --color-text-link: #58a6ff;
    --color-bg-primary: #0d1117;
    --color-bg-secondary: #0d1117;
    --color-bg-tertiary: #161b22;
    --color-border-primary: #30363d;
    --color-border-secondary: #21262d;
    --color-border-tertiary: #6e7681;
    --color-kbd-foreground: #b1bac4;
    --color-markdown-blockquote-border: #c9d1d9;
    --color-markdown-table-border: #3b434b;
    --color-markdown-table-tr-border: #272c32;
    --color-markdown-code-bg: #f0f6fc26;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: JetBrains Mono, Karla, Roboto, Ubuntu, sans-serif;
    font-size: 17px;

    outline: none;
    border: none;

    text-decoration: none;
    // list-style: none;
    // list-style-type: none;

    transition: all 0.3s ease-in-out;

    color: var(--text);
}

html,
body {
    font-family: JetBrains Mono, Karla, Roboto, Ubuntu, sans-serif;
    background-color: var(--background);

    &.light {
        background-color: #efefef;
        color: #2d2d2d;
    }

    &.dark {
        background-color: #151515;
        color: #efefef;
    }
}
